/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
    font-family: "LatoRegular";
    src: url(../fonts/Lato-Light.ttf);
}
   body {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    background: url(../img/bg.png) no-repeat;
    background-size: cover;
    background-position: 0 0;
}
.login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .5s;
    display: none;
}
.login-modal.active {
    display: block;
}
.login-modal .login-box {
    width: 400px;
    height: 370px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 0px 0px 40px #222;
    overflow: hidden;
    text-align: center;
}
.login-modal .login-box .login-logo {
    width: 120px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.login-modal .login-box input[type="text"],
.login-modal .login-box input[type="password"]{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-indent: 15px;
    outline: none;
    height: 30px;
    width: 300px;
}
.login-modal .login-box .login-btn {
    display: block;
    height: 40px;
    width: 200px;
    background: #4171bf;
    color: #fff;
    letter-spacing: 5px;
    margin: auto;
    border: none;
    border-radius: 3px;
}
.login-modal .login-box .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.main-container {
    max-width: 1040px;
    margin: auto;
    min-height: 100vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 0 15px;
}
.main-container .header {
    text-align: center;
}
.main-container .header ul.top-nav {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-container .header ul.top-nav li {
    float: left;
}
.main-container .header ul.top-nav li a {
    font-size: 16px;
    font-family: RobotoBold, sans-serif;
    text-transform: uppercase;
    display: block;
    padding: 5px 0px;
    position: relative;
    margin-left: 20px;
}
.main-container .header ul.top-nav li:not(.nohover) a:after {
    content: "";
    position: absolute;
    width: 0;
    bottom: 0;
    height: 1px;
    background: #4171bf;
    left: 0;
    right: 0;
    margin: auto;
    transition: width .2s linear;
}
.main-container .header ul.top-nav li:not(.nohover) a:before {
    content: "";
    position: absolute;
    width: 0;
    top: 0;
    height: 1px;
    background: #4171bf;
    left: 0;
    right: 0;
    margin: auto;
    transition: width .2s linear;
}
.main-container .header ul.top-nav li a:hover,
.main-container .header ul.top-nav li a.active {
    color: #4171bf;
}
.main-container .header ul.top-nav li a:hover:after,
.main-container .header ul.top-nav li a.active:after,
.main-container .header ul.top-nav li a.active:before,
.main-container .header ul.top-nav li a:hover:before {
    width: 100%;
    transition: width .2s linear;
}
.main-container .header ul.top-nav li.login {
    float: right;
    border: 1px solid;
    border-radius: 3px;
}
.main-container .header ul.top-nav li.login a {
    transition: all .3s linear;
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    margin-left: 0;
    padding: 5px 20px;
}
.main-container .header ul.top-nav li.login a:hover {
    color: #fff;
    background: #4171bf;
    transition: all .3s linear;
}
.main-container .header ul.top-nav li.sc-details {
    text-align: left;
    display: block;
    float: none;
    padding-left: 120px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.main-container .header ul.top-nav li a img {
    max-width: 100px;
}
.main-container .header ul.top-nav li p.sc-name {
    font-size: 24px;
    margin-bottom: 5px;
}
.main-container .header ul.top-nav li p.sc-address {
    font-size: 14px;
}
.main-container .header ul.top-nav li.sc-logo a {
    padding: 5px 0;
    margin-left: 0;
}
.content-container {
    background: #f2f2f2;
    padding-bottom: 20px;
    position: relative;
}
.content-container.dashboard {
    padding-bottom: 0;
}
.content-container .banner {
    width: 100%;
    height: 440px;
    margin-bottom: 20px;
}
.content-container .banner img {
    width: 100%;
    height: 100%;
}
.content-container .links {
    float: left;
    width: 20%;
}
.content-container .links ul {
    text-align: left;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 20px 20px 20px;
    color: #fff;
}
.content-container .links ul li {
    border-bottom: 1px dashed #fff;
}
.content-container .links ul li a {
    display: inline-block;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    transition: all .3s;
}
.content-container .links ul li a:hover {
    color: #4171bf;
    transition: all .3s;
}
.content-container .ne-board {
    float: left;
    padding-left: 20px;
    width: 76%;
    border-left: 1px solid #fff;
}
.content-container .ne-board .title {
    color: #fff;
    font-size: 20px;
    font-family: RobotoBold, sans-serif;
    display: block;
    background: #4171bf;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.content-container .ne-board .ne-content {
    background: #fff;
    padding: 10px;
    max-height: 450px;
    min-height: 450px;
    overflow-y: scroll;
}
.content-container .ne-board .ne-content .ne-item ~ .ne-item {
    margin-top: 10px;
}
.content-container .ne-board .ne-content .ne-item .ne-item-img {
    display: inline-block;
    max-width: 100px;
    vertical-align: top;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details .ne-title {
    color: #4171bf;
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details .author-date {
    font-size: 13px;
    margin-bottom: 5px;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details .author-date a {
    color: #4171bf;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details .ne-p {
    max-width: 625px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-container .ne-board .ne-content .ne-item .ne-item-details .readmore {
    font-size: 12px;
    color: #4171bf;
    display: block;
    text-align: right;
    padding-top: 10px;
}
.main-container .reg-form-header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.main-container .reg-form-header .back-to-homepage {
    position: absolute;
    right: 0;
}
.main-container .reg-form-header .back-to-homepage a {
    font-size: 13px;
}
.main-container .reg-form-header .back-to-homepage a svg {
    transition: .2s linear;
}
.main-container .reg-form-header .back-to-homepage a:hover svg {
    transform: translateX(-5px);
    transition: .2s linear;
}
.main-container .reg-form-header img {
    max-width: 100px;
    margin-bottom: 10px;
}
.main-container .reg-form-header .sc-name {
    font-size: 20px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 5px;
}
.main-container .reg-form-header .sc-address {
    font-size: 14px;
    font-family: RobotoLight, sans-serif;
}
.main-container .reg-form {
    background: #fff;
    box-shadow: 0px 0px 5px #999;
}
.main-container .reg-form table {
    width: 100%;
    border-collapse: collapse;
}
.main-container .reg-form table tr td {
    border: 1px solid #000;
    padding: 5px;
    vertical-align: middle;
    height: 30px;
    background: #fff;
}
.main-container .reg-form table tr td input {
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: 1px dashed #000;
    height: 100%;
    text-indent: 5px;
}
.main-container .reg-form table tr td input[type="radio"] {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    height: auto;
}
.main-container .reg-form table tr td.head {
    font-family: RobotoBold, sans-serif;
    background: #999;
    color: #fff;
}
.main-container .reg-form .signature {
    text-align: center;
    padding: 20px 0;
}
.main-container .reg-form .signature input {
    border: 0;
    border-bottom: 1px dashed;
    outline: none;
    margin-bottom: 5px;
    text-align: center;
}
.main-container .reg-form .acknowledgement {
    padding: 15px;
    font-size: 13px;
}
.main-container .reg-form .signature .st-name {
    margin-bottom: 15px;
}
.main-container .reg-form .signature input#st-name {
    width: 400px;
}
.main-container .print-btn {
    text-align: right;
    padding: 15px 0;
}
.main-container .print-btn a {
    display: inline-block;
    padding: 10px 20px;
    background: #4171bf;
    color: #fff;
    border-radius: 5px;
}
.main-container .footer {
    width: 100%;
    text-align: left;
    background: #495057;
    border-top: 1px solid #fff;
    padding: 15px 0;
}
.main-container .footer .footer-content ul {
    display: inline-block;
}
.main-container .footer .footer-content ul li {
    float: left;
    position: relative;
    padding: 0 15px;
}
.main-container .footer .footer-content ul li ~ li:after {
    content: "|";
    position: absolute;
    left: 0;
    color: #fff;
}
.main-container .footer .footer-content ul li a {
    color: #fff;
    font-size: 12px;
}
.main-container .footer .footer-content .copyright {
    color: #fff;
    padding: 0 15px;
    float: right;
    font-size: 13px;
    text-transform: uppercase;
}
.content-container .mv-container {
    padding: 30px;
}
.content-container .mv-container .mv-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.content-container .mv-container .mv-content {
    color: #fff;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 40px;
}
.content-container .facilities-container {
    padding: 15px;
}
.content-container .facilities-container a {
    float: left;
    width: 25%;
    height: 200px;
}
.content-container .facilities-container a img {
    max-width: 100%;
    height: 100%;
}
.content-container .dashboard-container .content-panel {
    padding: 15px 15px 15px 265px;
    height: calc(100vh - 30px);
    overflow-y: scroll;
}
.content-container .dashboard-container .content-panel .db-table {
    width: 100%;
    margin-bottom: 30px;
}
.content-container .dashboard-container .content-panel .db-table thead {
    background: #000;
}
.content-container .dashboard-container .content-panel .db-table thead tr th {
    color: #fff;
    border: 1px solid #999;
    height: 30px;
    vertical-align: middle;
    padding: 10px;
}
.content-container .dashboard-container .content-panel .db-table tbody tr td {
    color: #000;
    border: 1px solid #999;
    height: 30px;
    vertical-align: middle;
    background: #fff;
    text-align: center;
    padding: 10px;
}
.content-container .dashboard-container .content-panel .db-table tbody tr td img {
    max-width: 100px;
}
.content-container .dashboard-container .side-nav {
    width: 220px;
    position: fixed;
    top: 0;
    height: 100vh;
    background: #4272d7;
    color: #fff;
    padding: 15px;
}
.content-container .dashboard-container .side-nav .admin {
    display: table;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}
.content-container .dashboard-container .side-nav .admin .adm-img {
    width: 50px;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
}
.content-container .dashboard-container .side-nav .admin .adm-name {
    display: table-cell;
    vertical-align: middle;
    width: 160px;
    cursor: pointer;
    position: relative;
}
.content-container .dashboard-container .side-nav .admin .adm-name .fa-user-secret {
    float: right;
}
.content-container .dashboard-container .side-nav .admin-out {
    width: 100%;
    background: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    bottom: 40px;
    left: 0;
    text-align: center;
}
.content-container .dashboard-container .side-nav .admin-out a {
    display: block;
    padding: 10px 0;
}
.content-container .dashboard-container .side-nav .nav-list ul li a {
    display: block;
    padding: 15px 0;
    transition: all .2s linear;
}
.content-container .dashboard-container .side-nav .nav-list ul li ~ li {
    border-top:  1px solid #fff;
}
.content-container .dashboard-container .side-nav .nav-list ul li a:hover {
    color: #000;
    background: #fff;
    transition: all .2s linear;
    padding-left: 10px;
    padding-right: 10px;
}
.content-container .dashboard-container .side-nav .nav-list ul li a span.count {
    float: right;
    display: block;
    border: 1px solid #fff;
    background: #ff5722;
    border-radius: 10px;
    padding: 2px 5px 1px 5px;
    position: relative;
    top: -1px;
    font-size: 11px;
}
.content-container .dashboard-container .side-nav .nav-list ul li a:hover span.count {
    border-color: #ff5722;
    background: #f2f2f2;
    color:#ff5722;

}

.dashboard-section-title{
    font-family: LatoRegular, Segoe UI Light, sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
}


.plain-button{
    min-width:90px;
    padding:5px 14px;
    background: #4272d7;
    border:0px;
    color: #f2f2f2;
}

.outlined-button{
    min-width:90px;
    padding: 5px 14px;
    background: transparent;
    border: 2px solid #4272d7;
    color: #4272d7;
}

.school-level-list tr td{
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.util-btn{
    width:36px;
    height:30px;
    border: none;
    background:transparent;
}

.util-btn img {
    width: 100%;
    height:100%;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}