/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: RobotoRegular, sans-serif;
    font-size: 14px;
    background: #f2f2f2;
}
.container {
    max-width: 1200px;
    background: #fff;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 55px #333;
    min-height: calc(100vh - 70px);
}
.main-nav {
    background: #4171bf;
    color: #fff;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    box-shadow: 0px 1px 5px #000;
}
.main-nav .nav-container {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 40px;
}
.main-nav .logo {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    padding-left: 15px;
}
.main-nav .logo span {
    font-family: RobotoBold, sans-serif;
    text-transform: uppercase;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 1px;
}
.main-nav .logo img {
    width: 30px;
}
.main-nav .login {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    text-align: center;
    font-size: 12px;
}
.main-nav .login svg {
    padding-right: 5px;
    display: inline-block;
    vertical-align: bottom;
}
.main-nav .side-menu {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
.main-nav .side-menu .parent-ul {
    position: absolute;
    background: #000;
    width: 250px;
    height: auto;
    top: 100%;
    right: 0;;
    opacity: 0;
    visibility: hidden;
    transition: all .5s linear;
}
.main-nav .side-menu .parent-ul.active {
    opacity: 1;
    visibility: visible;
    transition: all .5s linear;
}
.main-nav .side-menu .parent-ul li.logout {
    border-top: 1px dashed #fff;
}
.main-nav .side-menu .parent-ul li a {
    padding: 15px 0;
    display: block;
    font-size: 12px;
    text-align: left;
    padding-left: 35px;
}
.main-nav .side-menu .parent-ul li a:hover {
    background: #4171bf;
}
.main-nav .side-menu .parent-ul li a svg {
    margin-left: 5px;
    position: absolute;
    right: 30px;
}
.main-nav .side-menu .parent-ul li .child-ul {
    background: #333;
    height: 0;
    overflow: hidden;
    transition: all .5s linear;
}
.main-nav .side-menu .parent-ul > li.active .child-ul {
    height: auto;
    transition: all .5s linear;
}
.main-nav .side-menu .parent-ul li .child-ul li a:hover {
    background: #4171bf;
}
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #4171bf;
    color: #fff;
    z-index: 999;
    box-shadow: 0px -1px 5px #000;
}
.footer .footer-container {
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 30px;
    text-align: center;
}
.footer .footer-container .copyright {
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11px;
}
.banner {
    position: relative;
}
.banner .social {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
.banner .social ul {
    background: #fff;
    padding: 0 2px;
    border-radius: 4px;
}
.banner .social ul li {
    float: left;
}
.banner .social ul li a {
    font-size: 30px;
}
.banner .social ul li a#fb-link {
    color: #4267B2;
}
.banner .swiper-container {
    width: 1200px;
    height: 550px;
}
.banner .swiper-container .swiper-slide img {
    width: 100%;
    height: 100%;
}
.news {
    padding: 15px;
}
.news h3 {
    font-size: 24px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 20px;
    background: #4171bf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}
.news h3 svg {
    position: absolute;
    right: 20px;
}
.news .news-container ~ .news-container {
    margin-top: 15px;
}
.news .news-title {
    font-size: 18px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 5px;
}
.news .news-date {
    font-size: 12px;
    font-family: RobotoLight, sans-serif;
    margin-bottom: 15px;
}
.news .news-content {
    line-height: 1.5;
    text-indent: 15px;
}
.events {
    padding: 15px;
}
.events h3 {
    font-size: 24px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 20px;
    background: #4171bf;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
}
.events h3 svg {
    position: absolute;
    right: 20px;
}
.events .event-content {
    padding: 10px;
}
.events .event-title {
    font-size: 18px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 5px;
}
.events .event-details {
    display: inline-block;
    vertical-align: top;
    max-width: 80%;
    padding-left: 15px;
}
.events .event-img {
    max-width: 200px;
    max-height: 200px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border: 1px solid #333;
}
.events .event-details .event-venue {
    font-family: RobotoBold, sans-serif;
    margin-bottom: 5px;
}
.events .event-details .event-venue span {
    font-family: RobotoRegular, sans-serif;
}
.events .event-details .event-date {
    font-family: RobotoBold, sans-serif;
    margin-bottom: 5px;
}
.events .event-details .event-date span {
    font-family: RobotoRegular, sans-serif;
}
.events .event-details .details {
    line-height: 1.2;
}
.login-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.7);
    top: 0;
    left: 0;
    z-index: 9999;
    transition: all .5s;
    display: none;
}
.login-modal.active {
    display: block;
}
.login-modal .login-box {
    width: 400px;
    height: 370px;
    background: #fff;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 0px 0px 40px #222;
    overflow: hidden;
    text-align: center;
}
.login-modal .login-box .login-logo {
    width: 120px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.login-modal .login-box input[type="text"],
.login-modal .login-box input[type="password"]{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    text-indent: 15px;
    outline: none;
    height: 30px;
    width: 300px;
}
.login-modal .login-box .login-btn {
    display: block;
    height: 40px;
    width: 200px;
    background: #4171bf;
    color: #fff;
    letter-spacing: 5px;
    margin: auto;
    border: none;
    border-radius: 3px;
}
.login-modal .login-box .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.db-list {
    padding: 15px;
}
.db-list .title {
    font-size: 25px;
    font-family: RobotoBold, sans-serif;
    margin-bottom: 10px;
}
.db-list table {
    width: 100%;
    border-collapse: collapse;
}
.db-list table tr td {
    border: 1px solid #333;
    text-align: center;
}
.db-list table thead tr th {
    height: 40px;
    vertical-align: middle;
    background: #4171bf;
    color: #fff;
    font-family: RobotoBold, sans-serif;
    border: 1px solid #333333;
    cursor: pointer;
}
.db-list table tbody tr td {
    height: 30px;
    vertical-align: middle;
    font-size: 13px;
}
.db-list .search-db {
    margin-bottom: 10px;
}
.db-list .search-db input {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
}
.db-list .search-db button {
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}
.db-list .pager {
    text-align: center;
    padding-top: 20px;
}
.db-list .pager div {
    display: inline-block;
    vertical-align: middle;
}
.db-list .pager div:not(.pager-num) {
    background: #4171bf;
    width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.db-list .pager .pager-num {
    position: relative;
    top: 1px;
}
.db-list .pager .pager-num .curr-page {
    font-family: RobotoBold, sans-serif;
    color: #4171bf;
}
.db-list #db-table tbody tr td.news-content {
    text-align: left;
    padding: 10px;
}
.db-list #db-table tbody tr td img {
    max-width: 100px;
}
.main-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: calc(100vh - 70px);
    border-radius: 10px;
    overflow: hidden;
}
.main-container .header {
    text-align: center;
}
.main-container .header ul {
    display: inline-block;
}
.main-container .header ul li {
    float: left;
}
.main-container .header ul li.logo a img {
    max-width: 100px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}