<html>
	<head>
	</head>

	<style>
		body {
			margin: 0;
			font-family: sans-serif;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			max-width: 1200px;
			margin: auto;
			font-size: 12px;
		}
		table thead tr th {
			border: 1px solid #333;
		}
		.w-border tbody tr td {
			border: 1px solid #333;
			height: 20px;
		}
		.tc {
			text-align: center;
		}
		.bold {
			font-weight: bold;
		}
		.header {
			background: #ccc;
		}
		.form-table	{
			width: 100%;
			border-collapse: collapse;
			max-width: 1200px;
			margin: 15px auto;
		}
		.form-table .kne-logo {
			width: 80px;
		}
		.form-table .deped-logo {
			width: 120px;
		}
		.vat {
			vertical-align: top;
		}
		.w-3 {
			width: 33.33%;
		}
		.top-border {
			position: relative;
			font-size: 10px;
		}
		.top-border:before {
			content: "";
			position: absolute;
			top: 0;
			width: 95%;
			left: 0;
			right: 0;
			margin: auto;
			height: 1px;
			background: #000;
		}
	</style>
	<body>
		<table class="form-table">
			<tr>
				<td rowspan="3" class="tc" style="width: 20%;"><img src="kne-logo.png" alt="" class="kne-logo"></td>
				<td class="tc">REPUBLIC OF THE PHILIPPINES</td>
				<td rowspan="3" class="tc" style="width: 20%;"><img src="deped-logo.png" alt="" class="deped-logo"></td>
			</tr>
			<tr>
				<td class="tc vat">DEPARTMENT OF EDUCATION</td>
			</tr>
			<tr>
				<td class="tc bold" style="">SENIOR HIGH SCHOOL STUDENT PERMANENT RECORD</td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc header" colspan="4">LEARNER'S INFORMATION</td>
			</tr>
			<tr>
				<td>LAST NAME:</td>
				<td>FIRST NAME:</td>
				<td>MIDDLE NAME:</td>
			</tr>
		</table>
		<table>
			<tr>
				<td>LRN:</td>
				<td>Date of Birth(MM/DD/YYYY):</td>
				<td>Sex:</td>
				<td>Date of SHS Admission(MM/DD/YYYY):</td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc header" colspan="5">ELIGIBILITY FOR SHS ENROLMENT</td>
			</tr>
			<tr>
				<td><input type="checkbox"> High School Complete*</td>
				<td>Gen. Ave:</td>
				<td><input type="checkbox"> Junior High School Complete</td>
				<td>Gen. Ave:</td>
			</tr>
			<tr>
				<td colspan="2">Date of Graduation/Completion(MM/DD/YYYY):</td>
				<td colspan="2">Name of School:</td>
				<td>School Address:</td>
			</tr>
			<tr>
				<td><input type="checkbox"> PEPT Passer**</td>
				<td>Rating:</td>
				<td><input type="checkbox"> ALS A&amp;E Passer***</td>
				<td>Rating:</td>
				<td><input type="checkbox"> Others(Pls. Specify):</td>
			</tr>
			<tr>
				<td colspan="2">Date of Examination/Assessment(MM/DD/YYYY):</td>
				<td colspan="3">Name and Address of Community Learning Center:</td>
			</tr>
			<tr>
				<td colspan="2">*High School Completers are students who graduated from secondary school under the old curriculum</td>
				<td colspan="3">***ALS A&amp;E - Alternative Learning System Accreditation and Equivalency Test for JHS</td>
			</tr>
			<tr>
				<td colspan="5">**PEPT - Philippine Educational Placement Test for JHS</td>
			</tr>
		</table>
		<table>
			<tr>
				<td class="bold tc header" colspan="5">SCHOLASTIC RECORD</td>
			</tr>
			<tr>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
				<td class="bold">GRADE LEVEL:</td>
				<td class="bold">SY:</td>
				<td class="bold">SEM:</td>
			</tr>
			<tr>
				<td class="bold" colspan="2">TRACK/STRAND:</td>
				<td class="bold" colspan="3">SECTION:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th rowspan="2" style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED
					</th>
					<th rowspan="2">SUBJECTS</th>
					<th colspan="2">QUARTER</th>
					<th rowspan="2" style="width: 100px;">SEM FINAL GRADE</th>
					<th rowspan="2" style="width: 100px;">ACTION TAKEN</th>
				</tr>
				<tr>
					<th style="width: 50px;">&nbsp;</th>
					<th style="width: 50px;">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4" class="header bold" style="text-align: right;">General Ave. for the Semester:</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td class="bold" colspan="3">REMARKS:</td>
			</tr>
			<tr>
				<td class="bold w-3" style="padding-bottom: 20px;">Prepared By:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Certified True and Correct:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Date Checked(MM/DD/YYYY):</td>
			</tr>
			<tr>
				<td class="tc w-3 top-border">Signature of Adviser over Printed Name</td>
				<td class="tc w-3 top-border">Signature of Authorized Person over Printed Name, Designation</td>
				<td class="tc w-3 top-border"></td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc" style="width: 150px;">REMEDIAL CLASSES</td>
				<td class="bold">Conducted from (MM/DD/YYYY):</td>
				<td class="bold">to (MM/DD/YYYY):</td>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED</th>
					<th>SUBJECTS</th>
					<th style="width: 50px;">SEM FINAL GRADE</th>
					<th style="width: 50px;">REMEDIAL CLASS MARK</th>
					<th style="width: 100px;">RECOMPUTED FINAL GRADE</th>
					<th style="width: 100px;">ACTION TAKEN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>Name of Teacher/Adviser:</td>
				<td style="width: 300px;">Signature:</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
				<td class="bold">GRADE LEVEL:</td>
				<td class="bold">SY:</td>
				<td class="bold">SEM:</td>
			</tr>
			<tr>
				<td class="bold" colspan="2">TRACK/STRAND:</td>
				<td class="bold" colspan="3">SECTION:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th rowspan="2" style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED
					</th>
					<th rowspan="2">SUBJECTS</th>
					<th colspan="2">QUARTER</th>
					<th rowspan="2" style="width: 100px;">SEM FINAL GRADE</th>
					<th rowspan="2" style="width: 100px;">ACTION TAKEN</th>
				</tr>
				<tr>
					<th style="width: 50px;">&nbsp;</th>
					<th style="width: 50px;">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4" class="header bold" style="text-align: right;">General Ave. for the Semester:</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td class="bold" colspan="3">REMARKS:</td>
			</tr>
			<tr>
				<td class="bold w-3" style="padding-bottom: 20px;">Prepared By:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Certified True and Correct:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Date Checked(MM/DD/YYYY):</td>
			</tr>
			<tr>
				<td class="tc w-3 top-border">Signature of Adviser over Printed Name</td>
				<td class="tc w-3 top-border">Signature of Authorized Person over Printed Name, Designation</td>
				<td class="tc w-3 top-border"></td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc" style="width: 150px;">REMEDIAL CLASSES</td>
				<td class="bold">Conducted from (MM/DD/YYYY):</td>
				<td class="bold">to (MM/DD/YYYY):</td>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED</th>
					<th>SUBJECTS</th>
					<th style="width: 50px;">SEM FINAL GRADE</th>
					<th style="width: 50px;">REMEDIAL CLASS MARK</th>
					<th style="width: 100px;">RECOMPUTED FINAL GRADE</th>
					<th style="width: 100px;">ACTION TAKEN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>Name of Teacher/Adviser:</td>
				<td style="width: 300px;">Signature:</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
				<table>
			<tr>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
				<td class="bold">GRADE LEVEL:</td>
				<td class="bold">SY:</td>
				<td class="bold">SEM:</td>
			</tr>
			<tr>
				<td class="bold" colspan="2">TRACK/STRAND:</td>
				<td class="bold" colspan="3">SECTION:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th rowspan="2" style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED
					</th>
					<th rowspan="2">SUBJECTS</th>
					<th colspan="2">QUARTER</th>
					<th rowspan="2" style="width: 100px;">SEM FINAL GRADE</th>
					<th rowspan="2" style="width: 100px;">ACTION TAKEN</th>
				</tr>
				<tr>
					<th style="width: 50px;">&nbsp;</th>
					<th style="width: 50px;">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4" class="header bold" style="text-align: right;">General Ave. for the Semester:</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td class="bold" colspan="3">REMARKS:</td>
			</tr>
			<tr>
				<td class="bold w-3" style="padding-bottom: 20px;">Prepared By:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Certified True and Correct:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Date Checked(MM/DD/YYYY):</td>
			</tr>
			<tr>
				<td class="tc w-3 top-border">Signature of Adviser over Printed Name</td>
				<td class="tc w-3 top-border">Signature of Authorized Person over Printed Name, Designation</td>
				<td class="tc w-3 top-border"></td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc" style="width: 150px;">REMEDIAL CLASSES</td>
				<td class="bold">Conducted from (MM/DD/YYYY):</td>
				<td class="bold">to (MM/DD/YYYY):</td>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED</th>
					<th>SUBJECTS</th>
					<th style="width: 50px;">SEM FINAL GRADE</th>
					<th style="width: 50px;">REMEDIAL CLASS MARK</th>
					<th style="width: 100px;">RECOMPUTED FINAL GRADE</th>
					<th style="width: 100px;">ACTION TAKEN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>Name of Teacher/Adviser:</td>
				<td style="width: 300px;">Signature:</td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<br>
				<table>
			<tr>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
				<td class="bold">GRADE LEVEL:</td>
				<td class="bold">SY:</td>
				<td class="bold">SEM:</td>
			</tr>
			<tr>
				<td class="bold" colspan="2">TRACK/STRAND:</td>
				<td class="bold" colspan="3">SECTION:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th rowspan="2" style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED
					</th>
					<th rowspan="2">SUBJECTS</th>
					<th colspan="2">QUARTER</th>
					<th rowspan="2" style="width: 100px;">SEM FINAL GRADE</th>
					<th rowspan="2" style="width: 100px;">ACTION TAKEN</th>
				</tr>
				<tr>
					<th style="width: 50px;">&nbsp;</th>
					<th style="width: 50px;">&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td colspan="4" class="header bold" style="text-align: right;">General Ave. for the Semester:</td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td class="bold" colspan="3">REMARKS:</td>
			</tr>
			<tr>
				<td class="bold w-3" style="padding-bottom: 20px;">Prepared By:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Certified True and Correct:</td>
				<td class="bold w-3" style="padding-bottom: 20px;">Date Checked(MM/DD/YYYY):</td>
			</tr>
			<tr>
				<td class="tc w-3 top-border">Signature of Adviser over Printed Name</td>
				<td class="tc w-3 top-border">Signature of Authorized Person over Printed Name, Designation</td>
				<td class="tc w-3 top-border"></td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold tc" style="width: 150px;">REMEDIAL CLASSES</td>
				<td class="bold">Conducted from (MM/DD/YYYY):</td>
				<td class="bold">to (MM/DD/YYYY):</td>
				<td class="bold">SCHOOL:</td>
				<td class="bold">SCHOOL ID:</td>
			</tr>
		</table>
		<table class="w-border">
			<thead class="header">
				<tr>
					<th style="width: 150px;">Indicate if Subject is
					CORE, APPLIED, or
					SPECIALIZED</th>
					<th>SUBJECTS</th>
					<th style="width: 50px;">SEM FINAL GRADE</th>
					<th style="width: 50px;">REMEDIAL CLASS MARK</th>
					<th style="width: 100px;">RECOMPUTED FINAL GRADE</th>
					<th style="width: 100px;">ACTION TAKEN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<table>
			<tr>
				<td>Name of Teacher/Adviser:</td>
				<td style="width: 300px;">Signature:</td>
			</tr>
		</table>
		<br>
		<br>
		<table>
			<tr>
				<td class="bold">Track/Strand Accomplished:</td>
				<td class="bold" style="width: 200px;">SHS General Average:</td>
			</tr>
			<tr>
				<td class="bold">Awards/Honors Received:</td>
				<td class="bold" style="width: 350px;">Date of SHS Graduation (MM/DD/YYYY):</td>
			</tr>
		</table>

		<table>
			<tr>
				<td class="bold" style="width: 50%;">Certified by:</td>
				<td class="bold" style="width: 50%;">Place School Seal Here:</td>
			</tr>
			<tr>
				<td style="width: 50%">
					<br>
					<table>
						<tr>
							<td class="tc top-border" style="width: 70%;">
								Signature of School Head over Printed Name
							</td>
							<td class="tc top-border">
								Date
							</td>
						</tr>
						<tr>
							<td colspan="2" style="border: 1px solid #000;">
								<strong>NOTE:</strong>

								<p style="font-size: 11px;">This permanent record or a photocopy of this permanent record that bears the seal of the school and the original
								signature in ink of the School Head shall be considered valid for all legal purposes. Any erasure or alteration
								made on this copy should be validated by the School Head.
								If the student transfers to another school, the originating school should produce one (1) certified true copy of this
								permanent record for safekeeping. The receiving school shall continue filling up the original form.
								Upon graduation, the school from which the student graduated should keep the original form and produce one (1)
								certified true copy for the Division Office</p>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="font-size: 11px;"><strong>REMARKS:</strong> (Please indicate the purpose for which this permanent record will be used)</td>
						</tr>
						<tr>
							<td class="bold" style="padding-top: 20px;">Date Issued (MM/DD/YYYY):</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>